# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
/bin

# Debug files
*.dSYM/

# Temporary files
*~
*#*
*.swp
*.swo

# Image files
*.jpg
*.rgb
*.yuv

# Programs
/control
/stream

# Informational files
*.xml

# Autotools
Makefile.in
*.m4
*.cache
compile
*.guess
*.log
*.status
*.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
.deps
/ar-lib
/config.h
/config.h.in
/src/.dirstamp
/src/plugin/.dirstamp
/stamp-h1
/.libs/
